<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <div class="brand">&nbsp;</div>
      </a>
      <h4 class="navbar-text">Filter Available Offers:</h4>

      <div class="navbar-form navbar-right">
        <%= form_for :offer, method: :get, id: 'search_offer', url: '/' do |f| %>
          <div class="form-group">
            <%= f.text_field :uid, placeholder: 'User', class: 'form-control' %>
            <%= f.text_field :pub0, placeholder: 'Custom Params', class: 'form-control' %>
            <%= f.text_field :page, type: :number, placeholder: 'Page', class: 'form-control' %>

            <%= f.submit 'Find Offers', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<div id="content">
  <% if @error %>

    <div class="alert alert-danger" role="alert">
      There's a problem on your search: <%= @error %>
    </div>

  <% elsif @offers.blank? %>

    <div class="alert alert-info" role="alert">
      Sorry, we have no offers available
    </div>

  <% else %>

    <section id="offers">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Thumb</th>
            <th>Offer</th>
            <th>Payout</th>
          </tr>
        </thead>
        <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= image_tag(offer.try(:[],'thumbnail').try(:[],'lowres') || 'http://qualitywineandspirits.com/images/offerIcon.png', alt: offer['title'], class: "thumb img-thumbnail") %></td>
          <td><%= offer['title'] %></td>
          <td><%= "#{number_to_currency(offer['payout'], unit: '$ ')} #{@info['virtual_currency']}" %></td>
        </tr>
      <% end -%>
        </tbody>
      </table>
    </section>

  <% end %>
</div>